#heading{
    text-align: center;
    font-size: xx-large;
    font-weight: 500;
    color:black;
}
#wrapper{

    width:1000px;
    height: 500px;
    background-color:lightgrey;
    margin:auto;
    margin-top: 100px;
    position: relative;

}


#ball{
    position: absolute;
    width:80px;
    height:80px;
    border-radius: 50%;
    background-color:lightseagreen;
    /* margin:10px;
    margin-top: 50px; */
    top:40%;
    left:45%;

} 


body{
    scroll-behavior: smooth;
    background-color: gray;
}

